---
import "@fontsource-variable/inter";
import Requests from "~/components/requests.astro";
import Contact from "~/components/contact.astro";
import Shows from "~/components/shows.astro";
import Footer from "~/components/footer.astro";
import PageHeader from "~/components/page-header.astro";
import Intro from "~/components/intro.astro";
/*import Showcase from "~/components/showcase.astro";*/
import Splash from "~/components/splash.astro";
import "~/styles/index.css";
import { Picture } from "@astrojs/image/components";
import { getCollection } from "astro:content";

function weeksBetween(d1, d2) {
  return Math.ceil((d2 - d1) / (7 * 24 * 60 * 60 * 1000));
}
var today = new Date();

// we need -1 below because date indexes from 0...
var quarterStart = new Date(2026, 1-1, 8); // winter quarter
var weekBeforeStart = new Date(2026, 1-1, 8); // winter quarter
if(today.getMonth()+1 >= 9) { // fall quarter
  quarterStart = new Date(2025, 10-1, 1); // Band-aid fix for no show on week 1
  weekBeforeStart = new Date(2025, 9-1, 25); // Band-aid fix for no show on week 1
  if(today < weekBeforeStart) {
    quarterStart = new Date(2026, 6-1, 26);
  }
}
else if(today.getMonth()+1 >= 6) { // summer quarter
  quarterStart = new Date(2026, 6-1, 26); 
  weekBeforeStart = new Date(2026, 6-1, 19);
  if(today < weekBeforeStart) {
    quarterStart = new Date(2026, 3-1, 26); 
  }  
}
else if(today.getMonth()+1 >= 3) { // spring quarter
  quarterStart = new Date(2026, 3-1, 26); 
  weekBeforeStart = new Date(2026, 3-1, 19);
  if(today < weekBeforeStart) {
    quarterStart = new Date(2026, 1-1, 9); 
  }
}

const featuredCutoff = weeksBetween(quarterStart, today);

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => { return data.featured >= featuredCutoff; },
);

const orderedSites = featuredSites.sort(
  (a,b) => a.data.featured!-b.data.featured!,
);

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "The UCLA Planetarium hosts public and private graduate student-run shows.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml"/>
    <meta name="generator" content={generator} />

    <title>Tickets | UCLA Planetarium</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <PageHeader />
    <div class="space-y-24 px-8 py-32">
      <section
        id="tickets"
        class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
      >

        <a href={orderedSites[0].data.url}><button type="button" class="text-white bg-emerald-600 hover:bg-emerald-700 focus:ring-4 focus:outline-none focus:ring-blue-300 text-xl rounded-lg text-sm px-5 py-2.5 text-center">Tickets</button></a>
      </section>
      
    </div>

    <Footer />
  </body>
</html>
