---
import { Picture } from "@astrojs/image/components";
import type { CollectionEntry } from "astro:content";
import { resolveImage } from "~/content/showcase/_resolveImage.js";
import Modal from "~/components/modal.astro";

export interface Props {
  site: CollectionEntry<"showcase">;
}

const { site, id } = Astro.props;
const image = await resolveImage(site);
const widths = [450, 800];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";
---

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

<a class="group aspect-video hover:!text-default"> <!--href = {site.data.url}>-->
  <figure class="relative h-fill w-fill overflow-hidden">
    <Picture
      class="h-fill w-fill bg-cover object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-20 group-focus:scale-110 group-focus:opacity-20"
      src={image.src}
      widths={widths}
      sizes={sizes}
      aspectRatio="16:9"
      alt={`An image of ${site.data.title}`}
    />
    <figcaption class="absolute inset-0">
      <div
        class="flex h-full flex-col items-center justify-center gap-2 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100"
      >
        <h3 class="px-2 text-center font-bold uppercase text-l">
          {site.data.title}
        </h3>
        <p class="px-4 py-2">{site.data.speaker}</p>
        <p class="px-4">{site.data.date}</p>
      </div>
    </figcaption>
  </figure>
</a>

