---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

import { getCollection } from "astro:content";
import ShowcaseCard from "~/components/showcase-card.astro";
import { Picture } from "@astrojs/image/components";
import Modal from "~/components/modal.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
function weeksBetween(d1, d2) {
  return Math.ceil((d2 - d1) / (7 * 24 * 60 * 60 * 1000));
}
var today = new Date();

// we need -1 below because date indexes from 0...
var quarterStart = new Date(2025, 1-1, 2); // winter quarter
var weekBeforeStart = new Date(2025, 1-1, 2); // winter quarter
if(today.getMonth()+1 >= 9) { // fall quarter
  quarterStart = new Date(2024, 9-1, 26); 
  weekBeforeStart = new Date(2024, 9-1, 19);
  if(today < weekBeforeStart) {
    quarterStart = new Date(2024, 6-1, 27);
  }
}
else if(today.getMonth()+1 >= 6) { // summer quarter
  quarterStart = new Date(2025, 6-1, 23); 
  weekBeforeStart = new Date(2025, 6-1, 16);
  if(today < weekBeforeStart) {
    quarterStart = new Date(2025, 3-1, 31); 
  }  
}
else if(today.getMonth()+1 >= 3) { // spring quarter
  quarterStart = new Date(2025, 3-1, 31); 
  weekBeforeStart = new Date(2025, 3-1, 24);
  if(today < weekBeforeStart) {
    quarterStart = new Date(2025, 1-1, 9); 
  }
}

const featuredCutoff = weeksBetween(quarterStart, today);

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => { return data.featured >= featuredCutoff; },
);

const orderedSites = featuredSites.sort(
  (a,b) => a.data.featured!-b.data.featured!,
);
---

<ContentSection title="Shows" id="shows">
  <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

  <Fragment slot="lead">
    Public shows are hosted every Wednesday when UCLA is in session during the Fall, Winter, and Spring quarters.
    See <a href="https://registrar.ucla.edu/calendars/annual-academic-calendar" class="text-link hover:underline">the UCLA academic calendar</a> for details about the UCLA schedule. 

    <br>

    <!--<div class="max-w-3xl text-center text-1xl text-red-500">
    The planetarium is currently closed for the winter holidays. Public shows will resume with the start of the Winter quarter, on January 8th.
    </div>-->

    <ul class="max-w-2xl self-center list-disc text-left text-1xl">
    <li>Public planetarium shows start at 8 pm between April and October (7 pm between November and March) on Wednesday evenings (except holidays and final exam weeks)</li>
    <li>Planetarium shows typically last about <span class="text-primary">60 minutes</span>, broken up into a special topic show and star show, lasting about 30 minutes each</li>
    <li>The planetarium is located on the 8th floor of the UCLA Mathematical Sciences Building (<a href="directions" class="text-link hover:underline">see here for directions</a>)</li>
  </ul> 
  </Fragment> 

  <h3 class="text-center tracking-tight text-2xl" id='tickets'>Upcoming Public Shows:</h3>
    <p class="max-w-2xl text-center text-l">(click boxes for details and ticket info)</p>
    <p class="max-w-3xl text-center text-l">Tickets for public shows are free and can be requested from the links below! A subset of the seats will be available to reserve 1 week before the show for those guests that would like to ensure a guaranteed seat. The remainder of the tickets will be released on a first-come, first-serve basis one hour prior to the start of the show <span class="text-primary">at the planetarium</span>. Ticket holders that are not present 15 minutes before the show begins will automatically forfeit their seat, which will be given to those in the queue. There are no late arrivals.</p>

    <div class="max-w-6xl space-y-2">
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
            <!--{orderedSites.map((site) => <ShowcaseCard site={site} id={site.data.featured} />
            )}-->
            <div data-modal-toggle="modal-1" data-modal-show="modal-1">
              <ShowcaseCard site={orderedSites[0]} id={orderedSites[0].data.featured} />
            </div>
            <div data-modal-toggle="modal-2" data-modal-show="modal-2">
              <ShowcaseCard site={orderedSites[1]} id={orderedSites[0].data.featured} />
            </div>
            <div data-modal-toggle="modal-3" data-modal-show="modal-3">
              <ShowcaseCard site={orderedSites[2]} id={orderedSites[0].data.featured} />
            </div>
          </div>
          
          <div id="modal-1" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative w-full max-w-2xl max-h-full">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            {orderedSites[0].data.title}
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal-1">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        <h4 class="text-base leading-relaxed text-gray-700 dark:text-gray-600">
                            {orderedSites[0].data.date}
                        </h4>
                        <h4 class="text-base leading-relaxed text-gray-700 dark:text-gray-600">
                            {orderedSites[0].data.speaker}
                        </h4>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            {orderedSites[0].data.blurb}
                        </p>
                    </div>
                    <a href={orderedSites[0].data.url}>
                    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button data-modal-hide="modal-1" type="button" 
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Tickets</button>
                    </div>
                  </a>
                </div>
            </div>
        </div>

          <div id="modal-2" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative w-full max-w-2xl max-h-full">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            {orderedSites[1].data.title}
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal-2">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        <h4 class="text-base leading-relaxed text-gray-700 dark:text-gray-600">
                            {orderedSites[1].data.date}
                        </h4>
                        <h4 class="text-base leading-relaxed text-gray-700 dark:text-gray-600">
                            {orderedSites[1].data.speaker}
                        </h4>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            {orderedSites[1].data.blurb}
                        </p>
                    </div>
                    <a href={orderedSites[1].data.url}>
                    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button data-modal-hide="modal-2" type="button" 
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Tickets</button>
                    </div>
                  </a>
                </div>
            </div>
        </div>

        <div id="modal-3" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative w-full max-w-2xl max-h-full">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            {orderedSites[2].data.title}
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal-3">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        <h4 class="text-base leading-relaxed text-gray-700 dark:text-gray-600">
                            {orderedSites[2].data.date}
                        </h4>
                        <h4 class="text-base leading-relaxed text-gray-700 dark:text-gray-600">
                            {orderedSites[2].data.speaker}
                        </h4>
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            {orderedSites[2].data.blurb}
                        </p>
                    </div>
                    <a href={orderedSites[2].data.url}>
                    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button data-modal-hide="modal-3" type="button" 
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Tickets</button>
                    </div>
                  </a>
                </div>
            </div>
        </div>
          <!--<Modal site={orderedSites[1]} id={orderedSites[1].data.featured}/>
          <Modal site={orderedSites[2]} id={orderedSites[2].data.featured}/>-->
          <p class="text-right text-sm">
            <a class="text-link hover:underline" href="https://www.youtube.com/@UCLAPlanetarium/streams">
              Click to see some of our past shows &rarr;
            </a>
          </p>
        </div>
</ContentSection>
